@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,700");

/* Main */

body {
  background: #fff;
}

body,
input {
  color: #646464;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.75em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #9933ff;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  text-decoration: none;
  color: #9933ff !important;
  border-bottom-color: transparent;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: #545454;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
  letter-spacing: -0.01em;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  color: #949494;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.75em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.85em;
  line-height: 1.5em;
}

header.major {
  text-align: center;
}

header.major h2 {
  font-size: 2.35em;
}

header.major p {
  margin: -1em 0 3.5em 0;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Image */

.image {
  border-radius: 0.5em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  position: relative;
  border-radius: 0.5em;
  display: block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  display: block;
  width: 100%;
}

/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}

ul.icons li:last-child {
  padding-right: 0 !important;
}

ul.icons li .icon {
  border-radius: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: #949494 !important;
  display: inline-block;
  font-size: 1.25em;
  height: 2.75em;
  line-height: 2.75em;
  text-align: center;
  width: 2.75em;
}

ul.icons li a.icon {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

ul.icons li a.icon:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

ul.icons li a.icon:active {
  background-color: rgba(144, 144, 144, 0.2);
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.menu {
  line-height: 1em;
  list-style: none;
  padding: 0;
}

ul.menu li {
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
}

ul.menu li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Button */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25) !important;
  color: #545454 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.1em;
  line-height: 3.5em;
  overflow: hidden;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover {
  background-color: rgba(144, 144, 144, 0.075);
  color: #545454 !important;
}

.button.big {
  font-size: 1em;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 2.25em;
}

/* Feature */

.feature {
  text-decoration: none;
  padding-left: 6.5em;
  position: relative;
  text-align: left;
}

.feature:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.feature:before {
  border-radius: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: #9933ff;
  display: inline-block;
  font-size: 2.25em;
  height: 2em;
  left: 0;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2em;
}

.feature h3 {
  margin: 0 0 0.7em 0;
}

/* Wrapper */

.wrapper {
  padding: 5em 0 3em 0;
}

.wrapper.cards {
  background: #f2f2f2;
}

.wrapper.cards .box {
  background: #ffffff;
  border: 0;
}

/* Navbar */
#header {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: inherit;
  cursor: default;
  height: 3em;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header h1 {
  color: inherit;
  font-size: 1em;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding-top: 0.8em;
  position: absolute;
  top: 0;
}

#header h1 a {
  border: 0;
}

#formSubmitSmall {
  display: none;
}
@media screen and (max-width: 1024px) {
  .about-thumb img {
    width: 300px;
    float: left;
  }
  .about-content {
    font-size: 14pt !important;
  }
  .about-content p {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  #main-planet > .container {
    margin: 1em !important;
    padding: 1em !important;
  }

  #formSubmitSmall {
    display: block;
  }

  #newsletterSection .actions {
    display: inline-block;
    margin: 0 !important;
    margin-top: 10px !important;
  }

  #header h1 a,
  .slideshow-container,
  .dots,
  #formSubmit {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .navbar a,
  .dropbtn {
    font-size: 15px !important;
  }

  .navmenu {
    float: left !important;
    padding-left: 10px !important;
  }
  .feature {
    text-decoration: none;
    padding-left: 5em;
    position: relative;
    text-align: left;
    height: 110px;
  }

  #banner h2 {
    font-size: 2.6em !important;
  }

  .feature h3 {
    font-size: 1em;
  }

  .description {
    visibility: hidden;
  }

  .about-container {
    margin: 1em !important;
    padding: 2em !important;
    height: 500px;
  }

  .about-title {
    font-size: 1em;
    line-height: 1em;
  }

  .about-content {
    font-size: 10pt !important;
  }

  .about-content p {
    margin: 0;
  }

  .about-thumb img {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.navmenu {
  float: right;
  padding-right: 20px;
}

.navbar {
  height: inherit;
  line-height: inherit;
  right: 1.5em;
  top: 0;
  vertical-align: middle;
}

.navbar a {
  float: left;
  color: #545454;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom-color: transparent;
}

.dropdown {
  float: left;
  overflow: hidden;
  line-height: 3em;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  color: #545454;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  color: #9933ff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Banner */

#banner {
  background-attachment: scroll, fixed;
  background-color: #494d53;
  background-image: url("../images/banner.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: #d1d2d4;
  padding: 16em 0;
  position: relative;
  text-align: center;
}

#banner:after {
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  background: #3d4045;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner :last-child {
  margin-bottom: 0;
}

#banner .inner {
  position: relative;
  z-index: 2;
}

#banner .button {
  border-color: white !important;
  color: #ffffff !important;
}

#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

#banner .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#banner h2 {
  color: #ffffff;
  font-size: 3.25em;
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.5em;
  margin-bottom: 1.75em;
}

/* slider header */

#slider-header {
  padding-bottom: 0;
}

#slider-header .slider .viewer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#slider-header .slider .slide img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* NEWSLETTER */
/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #545454;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="email"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 0.5em;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #9933ff;
  box-shadow: 0 0 0 1px #9933ff;
}

input[type="text"],
input[type="email"] {
  height: 2.75em;
}

::-webkit-input-placeholder {
  color: #949494 !important;
  opacity: 1;
}

:-moz-placeholder {
  color: #949494 !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #949494 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #949494 !important;
  opacity: 1;
}

.wrapper.newsletter {
  background: #9933ff;
}

.wrapper.newsletter h2,
.wrapper.newsletter p {
  color: #ffffff;
}

.wrapper.newsletter form {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wrapper.newsletter form input {
  background-color: white;
  margin-bottom: 2%;
}

.wrapper.newsletter .button {
  border-color: white !important;
  color: #ffffff !important;
}

.wrapper.newsletter .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.newsletter .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#newsletterSection {
  padding: 4em 0;
  text-align: center;
  vertical-align: middle;
}

#newsletterSection h2 {
  display: inline-block;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

#newsletterSection .actions {
  display: inline-block;
  margin: 30px;
}

.emailError {
  color: red;
}

.nameError {
  color: red;
}

.inputError {
  box-shadow: 0 0 0 3px red;
}

/* Footer */

#footer {
  color: #949494;
  padding: 4em 0;
  text-align: center;
}

#footer .icons {
  margin: 0 0 4em 0;
}

#footer .menu a {
  color: inherit;
}

#footer .copyright {
  font-size: 0.8em;
}

/* Card */
.row {
  margin: 0 150px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  float: left;
  width: 31%;
  padding: 0 10px;
}

.card .image.fit img {
  display: block;
  width: 100%;
  height: 270px;
}

@media screen and (max-width: 1440px) {
  .row {
    margin: 0 60px !important;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    margin: 0 10px !important;
  }
  .card {
    width: 33% !important;
  }
}

@media screen and (max-width: 768px) {
  .row {
    margin: 10px !important;
  }
  .card {
    width: 100% !important;
    display: block;
    margin-bottom: 20px;
  }
}

/* Box */

.box {
  border-radius: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin-bottom: 2em;
  padding: 2em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.post {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box.post .image:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: -2em 0 2em -2em;
  width: calc(100% + 4em);
}

.box.post .image:first-child img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*PLANETS*/
#main-planet {
  background-image: url("../images/banner.jpg");
}

#main-planet > .major > h2,
#main-planet > .major > p {
  color: white;
}

#main-planet > .container {
  position: relative;
  background: #ffffff;
  border-radius: 0.5em;
  margin: 3em;
  padding: 3em;
}

#main-planet > .container > :last-child,
#main-planet > .container > :last-child > :last-child,
#main-planet > .container > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

/*ABOUT*/

.about-container {
  position: relative;
  background: #ffffff;
  border-radius: 0.5em;
  margin: 3em;
  padding: 3em;
  height: 500px;
}

.about-wrapper {
  margin: 20px 20px 0 0;
}

.about-thumb img {
  float: left;
  margin-right: 60px;
}
